{% extends "base.html" %}
{% block title %} Add Items for the customers to browse through.You need to login through an admin account to do that! {% endblock %}

{% block content %}
<form method="POST">
    <div>
        <label class="form-label" for="name">Name</label>
        <input class= "form-control" type="name" id="name" name="name" placeholder="Enter item name.">
    </div>

    <div>
        <label class="form-label" for="price">Price</label>
        <input class= "form-control" type="price" id="price" name="price" placeholder="Enter the item price.">  
    </div>
    <div>
        <label class="form-label" for="price">Description</label>
        <input class= "form-control" type="description" id="description" name="description" placeholder="Enter the item description.">  
    </div>
    <div>
        <label class="form-label" for="img_loc">Image File Name</label>
        <input class= "form-control" type="img_loc" id="img_loc" name="img_loc" placeholder="Enter the file name of the Image.">  
    </div>
    <Br/>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}