<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
          .background1{
            background: url('/static/PartY Celebrate GIF by Justin.gif') center no-repeat;
            background-size: cover;
            height: 150px
          }  
        </style>
        <div class="background1 container-fluid">
        <h1>{% block title %}Home:{% endblock %}</h1>
        {% with alerts = get_flashed_messages(with_categories=true) %}
        {% if alerts %}
            {% for category, alert in alerts %} 
            {% if category == 'error' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{alert}}
            </div> 
            {% else %}
            <div class="alert alert-danger" role="alert">
                {{alert}}
            </div> 
            {% endif %} 
            {% endfor %}
        {% endif %}
        {% endwith %} 
        </div>
    </head>    
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if c_user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/cartItems">Cart</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/adminItems">Add to Database(for admins only!)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/technology-items">Manage Database(for admins only!)</a>
                </li>
                {% else %}
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/sign-up">sign up</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/references">References</a>
                </li>
            </ul>    
           </div>
        </div>
    </nav>    
        <div>
            {% block content %}
            content here
            {% endblock %}
        </div>
</body>
</html>