<!DOCTYPE html>
<html>
<body>
    <h1>{% block title %}Home:{% endblock %}</h1>
    <nav>
        <div>
            <div>
                {% if c_user.is_authenticated %}
                <a id='logout' href="/logout">Logout</a>
                <a id='signUp' href="/">Home</a>
                <a id='signUp' href="/cartItems">Cart</a>
                <a id='signUp' href="/adminItems">Manage Item Database(for Admins only)</a>
                {% else %}
                <a id='login' href="/login">Login</a>
                <a id='signUp' href="/sign-up">sign up</a>
                {% endif %}
            </div>
        </div>
        <div>
            {% block content %}
            content here
            {% endblock %}
        </div>
    </nav>
    {% with alerts = get_flashed_messages(with_categories=true) %}
    {% if alerts %}
        {% for category, alert in alerts %} 
        {% if category == 'error' %}
        <div role="alert">
            {{alert}}
            <button type="button" data-dismiss="alert"></button>
        </div> 
        {% else %}
        <div role="alert">
            {{alert}}
            <button type="button" data-dismiss="alert"></button>
        </div> 
        {% endif %} 
        {% endfor %}
    {% endif %}
    {% endwith %}    
</body>
</html>