{% extends "base.html" %}
{% block title %} Checkout here {% endblock %}

{% block content %}
<!-- {% if c_items %}   -->
<!-- <p>Overall price = {{cart_vars}}</p> -->
<!-- <ul>
    {% for items in c_techs %}
        <li class="border border-3" >     -->
        <!-- <h3>{{ items.technology.name }}</h3>
        <p>Quantity: {{items.quantity}}</p>  -->
        <!-- <p>Total Price: {{total_price}} £</p> -->
        <!-- <a class="btn btn-primary" href="/delete-from-cart/{{ items.id }}">remove</a> -->
        <!-- </li> -->
    <!-- {% endfor %}
</ul> -->
<!-- {% endif %} -->
<form method="POST">
    <div class="mb-3">
    <div>
        <input type="number" class= "form-control" type="card-number" id="card-number" name="card-number" placeholder="Enter your card number">
    </div>
</Br>
    <div>
        <!-- <label class="form-label" for="cv">CV</label> -->
        <input type="number" class= "form-control"  type="cv" id="cv" name="cv" placeholder="Enter CV">  
    </div>
    <Br/>
    <button class= "btn btn-primary" type="submit">Checkout</button>
    </div>
</form>
{% endblock %}