{% extends "base.html" %}
{% block title %} Our Premium Collection {% endblock %}

{% block content %}
<h1>Choose what you want to buy from our collection of products</h1>
<form method="POST">
    <div class="mb-3">
    <div>
        <input class= "form-control" name="filter_by" id="filter_by" placeholder="Search by name">
    </div>
    <div>
        <input class= "form-control" type="number" name="filter_by_price" id="filter_by_price" placeholder="Search by price">
    </div>
    <div>
        <input class= "form-control" type="number" name="filter_by_env_impact" id="filter_by_env_impact" placeholder="Search by environmental impact">
    </div>
    <button class= "btn btn-primary" type="submit">Search</button>
    </div>
</form>
<div class="row">
    <div class="col-8">
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for tech in technologies %}
    <div class="col">
            <div class="card">
            <img class="card-img-top" src="{{ tech.img_loc }}" alt="{{ tech.name }}" width="50" height="260">
            <div class="card-body">   
            <h3 class="card-title">{{ tech.name }}</h3>
            <p class="card_title">{{tech.price}} £</p>
            <p class="card_title">Carbon Footprint = {{tech.env_impact}} kg CO₂e</p>
            <a class="btn btn-primary" href="/append-to-cart/{{ tech.id }}">Add to cart</a>
            <a class="btn btn-primary" href="{{ url_for('nav.individual_item_page', techId=tech.id) }}">View Item Details</a>

            </div>
            </div>
    </div>
    {% endfor %}
    </div>
</div>
<div class="col-4">
    <img src="/static/Summer Fitness GIF by RENPHO.gif" width="540" height="800">
</div>
</div>
{% endblock %}