{% extends "base.html" %}
{% block title %} login to begin your journey!{% endblock %}

{% block content %}
<h1>Sign in here</h1>
<form method="POST">
    <div class="mb-3">
    <div>
        <label class="form-label" for="email">Email Address</label>
        <input class= "form-control" type="email" id="email" name="email" placeholder="Enter an email address">
    </div>

    <div>
        <label class="form-label" for="password">Password</label>
        <input class= "form-control"  type="password" id="password" name="password" placeholder="Enter an appropriate password">  
    </div>
    <Br/>
    <button class= "btn btn-primary" type="submit">Submit</button>
    </div>
</form>
{% endblock %}