{% extends "base.html" %}
{% block title %} References {% endblock %}

{% block content %}
<div class="border border-3" >
<p class="btn btn-primary">Tech With Tim. (2021). Python Website Full Tutorial - Flask, Authentication, Databases & More. [online] YouTube. Available at: https://www.youtube.com/watch?v=dam0GPOAvVI&list=LL&index=1&t=7570s [Accessed 20 April 2025].</p>
</div>
<div class="border border-3" >
<p class="btn btn-primary">Tech With Ian. (2024). Python for beginners | Ecommerce Website | Flask website tutorial. [online] YouTube. Available at: https://www.youtube.com/watch?v=eDTcSaZcLh4&list=LL&index=2&t=3432s [Accessed 2 May 2025].</p>
</div>
<div class="border border-3" >
<p class="btn btn-primary">CodeSignal. (n.d.). Integrating a SQL Database to Flask: Filtering Data Using Initial Characters. [online] Available at: https://codesignal.com/learn/courses/integrating-a-sql-database-to-flask/lessons/filtering-data-using-initial-characters [Accessed 6 May 2025].
</p>
</div>
{% endblock %}