{% extends "base.html" %}
{% block title %} Sign up and gain access to our premium collection of Items just for you! {% endblock %}

{% block content %}
<form method="POST">
    <h3>Sign up here</h3>
    <div>
        <label class="form-label" for="email">Email Address</label>
        <input class= "form-control" type="email" id="email" name="email" placeholder="Enter an email address">
    </div>
    <div>
        <label class="form-label" for="fName">First Name</label>
        <input class= "form-control" type="fName" id="fName" name="fName" placeholder="Enter your first name">  
    </div>
    <div>
        <label class="form-label" for="lName">Last Name</label>
        <input class= "form-control" type="lName" id="lName" name="lName" placeholder="Enter your last name">  
    </div>
    <div>
        <label class="form-label" for="password">Password</label>
        <input class= "form-control" type="password" id="password" name="password" placeholder="Enter an appropriate password">  
    </div>
    <div>
        <label class="form-label" for="password2">Password(again)</label>
        <input class= "form-control" type="password2" id="password2" name="password2" placeholder="Enter password again">  
    </div>
    <Br/>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}